<mat-card class="border border-info">
  <div class="alert alert-info text-center" role="alert">
    <h5 class="text-uppercase font-weight-bolder">Thông tin đặt lịch</h5>
  </div>

  <mat-card-content class="custom-overflow">
    <!-- idproduct field -->
    <mat-form-field class="example-full-width">
      <!-- <input matInput [(ngModel)]="input.idproduct" [required]="'true'" placeholder="Sản phẩm"> -->
      <mat-select matNativeControl [(ngModel)]="input.idproduct" [required]="'true'" placeholder="Sản phẩm">
        <mat-option *ngFor="let product of products" [value]="product.id">
          {{product.productname}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- iduser field -->
    <mat-form-field class="example-full-width">
      <!-- <input matInput [(ngModel)]="input.iduser" [required]="'true'" placeholder="Khách hàng"> -->
      <mat-select matNativeControl [(ngModel)]="input.iduser" [required]="'true'" placeholder="Khách hàng">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.fullname}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- status field -->
    <mat-form-field class="example-full-width">
      <!-- <input matInput [(ngModel)]="input.status" [required]="'true'" placeholder="Trạng thái"> -->
      <mat-select matNativeControl [(ngModel)]="input.status" [required]="'true'" placeholder="Trạng thái">
        <mat-option *ngFor="let status of statusId" [value]="status.value">
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- amount field -->
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="input.amount" [required]="'true'" placeholder="Số lượng">
    </mat-form-field>
  </mat-card-content>

  <div class="text-center">
    <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa
    </button>
    <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>
    <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng
      ý</button>
  </div>

</mat-card>