<mat-card class="border border-info">
  <div class="alert alert-info text-center" role="alert">
    <h5 class="text-uppercase font-weight-bolder">Thông tin Thông báo</h5>
  </div>

  <mat-card-content class="custom-overflow">
    <!-- title field -->
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="input.title" [required]="'true'" placeholder="Tiêu đề">
    </mat-form-field>

    <!-- description field -->
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="input.description" [required]="'true'" placeholder="Chi tiếc">
    </mat-form-field>

    <!-- status field -->
    <mat-form-field class="example-full-width">
      <!-- <input matInput [(ngModel)]="input.status" [required]="'true'" placeholder="Trạng thái"> -->
      <mat-select matNativeControl [(ngModel)]="input.status" [required]="'true'" placeholder="Trạng thái">
        <mat-option *ngFor="let notification of notifications" [value]="notification.value">{{notification.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>

  <div class=" text-center">
      <button *ngIf="type == 1" (click)="onDeleteClick()" class="btn btn-danger custom-margin-button" mat-button>Xóa
      </button>
      <button class="btn btn-warning custom-margin-button" mat-button [mat-dialog-close]="data.animal">Đóng</button>
      <button cdkFocusInitial (click)="onOkClick()" class="btn btn-info custom-margin-button" mat-button>Đồng
        ý</button>
      </div>
</mat-card>